*{margin:0; padding:0;}
.my-nav{position:relative;
  top:30px;
  width: 100%;
    z-index: 999;
    background: none;
    border: none;
    border-radius: 0;

}
.my-nav{
  background-color: rgba(0, 0, 0,0.00);
  border-color:rgba(0, 0, 0,0.00);
}
.my-nav .navbar-brand{
color:#ecf0f1;
}
.my-nav .navbar-brand:hover,
.my-nav .navbar-brand:focus{color: aliceblue;}

.my-nav .navbar-text{color:#ecf0f1;}
.my-nav .navbar-nav >li{
  padding-left: 10px;
}
.my-nav .navbar-nav >li >a{color: #ecf0f1;
}

.my-nav .navbar-nav >li >a:hover,
.my-nav .navbar-nav >li >a:focus{color: #ecf0f1;}

.my-nav .navbar-nav >.active >a,
.my-nav .navbar-nav >.active >a:hover,
.my-nav .navbar-nav >.active >a:focus{
  color: #ecf0f1;
}
.my-nav .navbar-nav >.open >a,
.my-nav .navbar-nav >.open >a:hover,
.my-nav .navbar-nav >.open >a:focus{
  background-color: #3962ff;
  color: #ecf0f1;
}

.my-nav .navbar-navbar-toggler{
  border-color: #3962ff;
}

.my-nav .navbar-navbar-toggler:hover,
.my-nav .navbar-navbar-toggler:focus{
  background-color: #3962ff;
}
.my-nav .navbar-navbar-toggler .icon-bar{
  background-color: #000000;
}
.my-nav .navbar-collapse,
.my-nav .navbar-form{
  border-color: #ecf0f1;
}
.my-nav .navbar-link{
  color: #000000;
}
.my-nav .navbar-link:hover{
  color: #ecdbff;
}
@media(max-width:767px){
  .my-nav .navbar-nav .open .dropdown >li >a{
    color:#ecf0f1
  }
  .my-nav .navbar-nav .open .dropdown >li >a:hover,
  .my-nav .navbar-nav .open .dropdown >li >a:focus{
    color: #ecdbff;
  }
  .my-nav .navbar-nav .open .dropdown-menu > .active >a,
  .my-nav .navbar-nav .open .dropdown-menu > .active >a:hover ,
  .my-nav .navbar-nav .open .dropdown-menu > .active >a:focus{
    color: #ecdbff;
    background-color: #3962ff;

  }
}
.my-carousel{
  top: -70px;
}

